*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    
}
main{
    background-image:linear-gradient(violet,pink,yellow);
    background: linear-gradient(135deg, #3f5c6f, #4d8dcd);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Serif Display', serif;
    font-size: 80px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(xelectron.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 3;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 8px;
    background-image: -webkit-linear-gradient(violet,indigo,rgb(169, 54, 218));
    background: linear-gradient(135deg, #3f5c6f, #4d8dcd);
    min-height:500px;
    padding-bottom: 200px;
    
}
.flex > .items{

min-width: 200px;
margin: 20px;
min-height: 350px;
max-height: 350px;
overflow: hidden;
    animation-delay: 1s;
    transition-delay: 0.6s;
    transition-duration: 2s;


}
.flex > .items ul li{
    margin: 10px;
    padding:8px;
    list-style: none;
    color: antiquewhite;
    
}
.flex > .items img{
    min-height: 200px;
max-height: 200px;

}
.flex > .items > .desc{
    overflow:scroll;
}

.flex > .items:hover{
    min-height: 500px;
    animation-delay: 1s;
     transition-delay: 0.5s;
    transition-duration: 2s;
}
.Search{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#iname{
    width: 87%;
    height: 45px;
    outline:none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    margin: auto auto;

    border-bottom-width: 2px;
}
#sea{
    transform: translateY(9px);
}


#txtHint{
    color: rgb(58, 12, 103);
}
#linl:link{
     color: rgb(58, 12, 103);
}

.nav {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(xelectron.jpg);
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
  
  }
  
  .batton {
  
    text-decoration: none;
    color: #ccc;
    border: 1px solid #ccc;
    font-size: 10px;
    margin-right: 15px;
    padding-left: 10px;
    margin-top: -2px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 25px;
    transition-delay: 0.03s;
  }
  
  .batton:hover {
    background-color: #ccc;
    color: #000000;
   
  }
 
#txtHint{
    color: rgb(58, 12, 103);
       justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
    display: inline-block;
    overflow: hidden;
    max-width: 40%;
    
    
}
#linl:link{
     color: rgb(58, 12, 103);
}
#suggestion{
    display: inline-block;
    justify-content: center;
    position: relative;
    left: 30%; 
}