*{
    margin: 0px;
    padding: 0px;
    
}
main{
    background-image:linear-gradient(violet,pink,yellow);
}
main h1{
    color: antiquewhite;
    border-color: blueviolet;
    margin:20px;
    text-align: center;
    font-size: 80px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 8px;
    background-image: -webkit-linear-gradient(violet,indigo,rgb(169, 54, 218));
    min-height:500px;
}
.flex > .items{

min-width: 200px;
margin: 20px;
min-height: 350px;
max-height: 350px;
overflow: hidden;

}
.flex > .items ul li{
    margin: 10px;
    padding:8px;
    list-style: none;
    color: antiquewhite;
    
}
.flex > .items img{
    min-height: 200px;
max-height: 200px;

}
.flex > .items > .desc{
    overflow:scroll;
}

.flex > .items:hover{
    min-height: 500px;
    animation-delay: 1s;
    transition-delay: 0.6s;
    transition-duration: 2s;
}
.Search{
    
    margin: auto;
    width: 20%;

    border: black;
}
#txtHint{
    color: rgb(58, 12, 103);
}
#linl:link{
     color: rgb(58, 12, 103);
}